
:root {
    --app-width: 1000px;  /* dictates the final size of the canvas */
    --margin: 10px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    color: #d6d6d6;
    background-color: #555;
}

a, a:visited, a:hover {
    color: #a6cdf7;
}

hr {
    height: 1px;
    border: none;
    background-color: #ccc;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.hidden {
    display: none;
}

#page-container {
    width: var(--app-width);
    margin: 0 auto;  /* https://css-tricks.com/centering-css-complete-guide */
}

#page-header h1 {
    float: left;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: var(--margin);
}

#page-header span {
    float: right;
    position: relative;
    top: 48px;
}

#canvas-container {
    /*width: 840px;*/
}

#flow-map {
    margin: 0 auto;
    display: block;
    border: 1px solid #676767;
    z-index: 1;
}

#flow-field {
    margin: 0 auto;
    display: block;
    border: 1px solid #676767;

    /* move right behind canvas element */
    position: absolute;
    transform: translateY(-100%);
    z-index: 2;

    /* to nicely fade-in/out when field-editing mode is toggled */
    opacity: 0;
    transition: opacity 0.3s;
}

#page-footer {
    text-align: right;
    margin-top: var(--margin);
    font-size: 12px;
}

#fps {
    float: left;
}

#credits {
    float: right;
}

#arrow path {
    stroke: rgba(125, 205, 255, 0.3);
    stroke-width: 2;
    fill: none;
}

#arrow-head path {
    fill: rgba(125, 205, 255, 0.3);
}

#debug-grid path {
    stroke: yellow;
}

#debug-grid text {
    font-size: 9px;
    fill: yellow;
}