
:root {
    --app-width: 1024px;  /* dictates the final size of the canvas */
    --margin: 10px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    color: #d6d6d6;
    background-color: #555;
}

a, a:visited, a:hover {
    color: #a6cdf7;
}

hr {
    height: 1px;
    border: none;
    background-color: #ccc;
}

.hidden {
    display: none;
}

#page-container {
    width: var(--app-width);
    margin: 0 auto;  /* https://css-tricks.com/centering-css-complete-guide */
}

#page-header h1 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: var(--margin);
}

#canvas-container {
    /*width: 840px;*/
}

#wind-map {
    margin: 0 auto;
    display: block;
    border: 1px solid #676767;
    z-index: 1;
}

#flow-field {
    margin: 0 auto;
    display: block;
    border: 1px solid #676767;

    /* move right behind canvas element */
    position: absolute;
    transform: translateY(-100%);
    z-index: 2;
}

#page-footer {
    text-align: right;
    margin-top: var(--margin);
    font-size: 12px;
}

#fps {
    float: left;
}

#credits {
    float: right;
}

#arrow path {
    stroke: rgba(0, 0, 0, .5);
    stroke-width: 2;
    fill: none;
}

#arrow-head path {
    fill: rgba(0, 0, 0, .5);
}
